@model OrderViewModel
@{
    ViewData["Title"] = "My Order History";
}
@{
    ViewData["Title"] = "Order Detail";
}

<div class="esh-orders_detail">
    <div class="container">
        <section class="esh-orders_detail-section">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-12">ORDER DETAILS</section>
            </article>

            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                var item = Model.OrderItems[i];
                <article class="esh-orders_detail-items esh-orders_detail-items--border row">
                    <section class="esh-orders_detail-item col-md-4 hidden-md-down">
                        <img class="esh-orders_detail-image" src="@item.PictureUrl">
                    </section>
                    <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-4">@item.ProductName</section><br />
                    <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-1">/Quantity: @item.Units</section>
                    <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-1">/Item Price: $ @item.UnitPrice.ToString("N2")</section>
                </article>
            }
        </section>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>Order No.</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Shipping Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>@Model.OrderNumber</td>
                    <td>
                        @for (int i = 0; i < Model.OrderItems.Count; i++)
                        {
                            var item = Model.OrderItems[i];
                            @item.ProductName
                        }
                    </td>
                    <td>@Model.OrderDate</td>
                    <td>@Model.Total</td>
                    <td>@Model.Status</td>
                    <td>@Model.ShippingAddress.Street/@Model.ShippingAddress.City/@Model.ShippingAddress.Country</td>
                </tr>

            </tbody>
        </table>


        <section class="esh-orders_detail-section esh-orders_detail-section--right">
            <article class="esh-orders_detail-titles esh-basket-titles--clean row">
                <section class="esh-orders_detail-title col-xs-9"></section>
                <section class="esh-orders_detail-title col-xs-2">TOTAL</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-9"></section>
                <section class="esh-orders_detail-item esh-orders_detail-item--mark col-xs-2">$ @Model.Total.ToString("N2")</section>
            </article>
        </section>

    </div>
</div>
